<h1 mat-dialog-title> Editar tarea </h1>
<div mat-dialog-content style="display: grid">
  <mat-form-field appearance="standard">
    <mat-label> Tarea </mat-label>
    <textarea matInput [value]="data.task" [(ngModel)]="data.task"></textarea>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label> Propietario </mat-label>
    <input matInput [value]="data.owner" [(ngModel)]="data.owner">
  </mat-form-field>
  <button mat-raised-button color='primary' [mat-dialog-close]="data"> Actualizar </button>
  <button mat-raised-button [mat-dialog-close]=""> Cancelar </button>
</div>
